@charset "utf-8";

html {
  font: 20px Arial, Helvetica, sans-serif;
}
body{
  background-color: #c1e6cd;
  text-align: center;
  /* padding: 10px; */
  padding-bottom: 100px;
}

.container{
  display: flex;
  justify-content: space-around;
}
/* .container{
  display: grid;
  grid-template-columns: auto, auto, auto;
} */

header h1{
  background-color: white;
  text-align: center;
  border: 5px solid black;
  padding: 20px;
  text-transform: uppercase;
  font-size: 3em;
}

#playersListButton {
  background-color: #4F8F46;

}

#playersListButton:hover {
  background-color: #568551;
}

header div button {
  float: right;
  display: none;
}

h2{
  color: #c276a9;
  text-transform: uppercase;
  background-color: #daeddc;
  border: 2px solid black;
  font-size: 2em;
}

div{
  text-align: left;
  padding: 3px;
}

form {
  text-align: left;
}

label {
  padding-right: 10px;
}

input{
  font-size: 20px;
}

button {
  padding: 10px;
  font-size: 20px;
}

footer{
  position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
}
